{
  "presets": [
    "env",
    "stage-1",
    "bluebird"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "retainLines": true,
  "sourceMaps": "inline"
}